img {
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;


}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

article {
    /*    border: 1px solid #974478;*/
    padding: 1rem;
    border-radius: 3px;
}

body {}


section,
h1 {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}


button {
    font-family: 'Poppins', sans-serif;
    color: #33489B;
    font-weight: 600;
    background-color: #FABEC6;
    font-size: 0.8rem;
    border: none;
    padding: 10px;
    cursor: pointer;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #33489B;
    font-size: 1.7rem;
    text-transform: uppercase;
    padding: 25px;
}


h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #33489B;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #FABEC6;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: #33489B;
    line-height: 1.4;
}
